<link rel="stylesheet" href="/stylesheets/details.css" />

<h1>Product details</h1>

<section class="cake-details">
  <h2>{{title}}</h2>
  <img
    class="productImgDetails"
    src={{image}}
    alt="product"
    style="height: 600px; width:650px; object-fit: contain;"
  />
  <p>
    Product:
    {{product}}
    <br />
    Name:
    {{name}}
    <br />
    Gluten Free:
    {{gluten_free}}<br />
    Quantity Available:
    {{quantity}}<br />
    {{!-- Made by: {{}} --}}
  </p>
  <ul>
    <strong>Ingredients:</strong>

    <li>{{this.ingredients}}</li>

  </ul>
</section>

<a href="/product">Back</a>